@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap'); 
h1 {
    width: 100%;
   background-color: black;
    color: skyblue;
    font-size: 30px;
    font-weight: bold;
    border: none;
    border-radius: none;
  margin: auto;
    position:inherit;
    
  }
  body {
    background: url('396815-wallpaper-starry-stars-night-sky-milky-way-anime.jpg');
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
      cursor: url("https://rc24.xyz/images/cursors/wii.cur"), default;
  } 
h2 {
  color: white;
  font-size 30px;
  font-family: 'comfortaa', Arial, Helvetica, sans-serif;
}
h5 {
  color: white;
  font-size 20px;
  font-family: 'comfortaa', Arial, Helvetica, sans-serif;
}
p {
    color: white;
    font-size: 20px;
    font-family: 'comfortaa', Arial, Helvetica, sans-serif;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0000FF;
    cursor: url("https://rc24.xyz/images/cursors/wii.cur"), default;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
   font-family: 'comfortaa', Arial, Helvetica, sans-serif;
    cursor: url("https://rc24.xyz/images/cursors/wii.cur"), default;
}

li a:hover:not(.active) {
  background-color: #00FFFF;
   font-family: 'comfortaa', Arial, Helvetica, sans-serif;
    cursor: url("https://rc24.xyz/images/cursors/wii.cur"), default;
}

.active {
  background-color: #00FFFF;
}
li {
  color: white;
  font-size: 20px;
  font-family: 'comfortaa', Arial, Helvetica, sans-serif;
 float: left;
    cursor: url("https://rc24.xyz/images/cursors/wii.cur"), default;
}
html {
    cursor: url("https://rc24.xyz/images/cursors/wii.cur"), default;
